@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  /* ### Primary */

  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);

  /* ### Neutral */

  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}
* {
  padding: unset;
  margin: unset;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-Blue);
  /* background-image: url("./design/desktop-design.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  font-size: 25px;
}

.container {
  position: relative;
  margin-top: 15px;
  text-align: center;
  height: 310px;
  width: 510px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--Dark-Grayish-Blue);
  /* background-color: rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
  margin-bottom: 50px;
}

.head > h1 {
  color: var(--Neon-Green);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  margin-bottom: 20px;
}
.middle {
  height: 100px;
  margin-bottom: 33px;
}
.middle p {
  text-align: center;
  color: var(--Light-Cyan);
}

.bottom img {
  width: 100%;
}

#buttonDice {
  position: absolute;
  bottom: -30px;
  border-style: none;
  border-radius: 50%;
  background-color: var(--Neon-Green);
  height: 60px;
  width: 60px;
  transition: all ease-in 0.5s;
}

#buttonDice:hover {
  box-shadow: 0 0 20px var(--Neon-Green);
}

#buttonDice i {
  color: blue;
  font: 24px;
}
